<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <div>
    <a href="/">Home</a>    <a href="/user/">Profile</a>
  </div>

  <h1>Album</h1>
  <div>Album Name: {{name}}</div>

  <div>
    <div>Album id: {{album_id}}</div>
    <div>Record name: {{record}}</div>
    <div>Artist: <a href= "/artist/{{aid}}">{{artist_name}}</a></div>
    <div>Release time: {{release_time}}</div>
    <h2>Songs</h2>
    {% for s in song_list %}
      <div><a href= "/song/{{s.song_id}}">{{s.name}}</a> released at {{s.rel_time}}</div>
    {% endfor %}
  </div>

</body>


</html>
