<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <div>
    <a href="/">Home</a>    <a href="/user/">Profile</a>
  </div>

  <h1>Song</h1>
  <div>Song Name: {{name}}</div>
  <div>
    <div>Choose a playlist to add to</div>

    <form method="POST" action="/add_to_playlist">
      <p>Which playlist do you want to add to? <input type="text" name="playlist_name"></p>
      <button name="song_id" type="submit" value="{{song_id}}">Add</button>
    </form>
  </div>
  {% if error %}
  <p>{{error}}</p>
  {% endif %}

  <div>
    <div>From album: <a href= "/album/{{album_id}}">{{album_name}}</a></div>
    <div>Artist: <a href= "/artist/{{artist_id}}">{{artist_name}}</a></div>
    <div>Release time: {{rel_time}}</div>
  </div>

</body>


</html>
